<header class="header">
  <div class="container">
    <div class="logo">
      <img src="https://via.placeholder.com/40" alt="" class="logo__img"><span class="logo__name">digital library</span>
    </div>
    <nav class="header__navbar">
      <ul class="header__navbar-menu">
        <li class="header__menu-item"><a href="#">browse</a></li>
        <li class="header__menu-item"><a href="#">A-Z Index</a></li>
        <li class="header__menu-item"><a href="#">About</a></li>
        <li class="header__menu-item"><a href="#">FAQs</a></li>
        <li class="header__menu-item"><a href="#">User Guide</a></li>
      </ul>
    </nav>
    <div class="header__right-block">
      <app-search></app-search>
      <div class="user-profile"><i class="material-icons material-icons-outlined md-light">account_circle</i></div>
    </div>
  </div>
</header>
