<main class="container">

  <section class="section">

    <app-card>
      <div class="info-card__heading info-card__heading--italic info-card__heading--md">Dont just take our word for it!</div>
      <div class=" info-card__heading--lg" style="max-width: 530px;">Read librarian reviews of the R2 Digital Library</div>
      <button class="btn btn--red">go to the reviews section</button>
      <div class="arrows nav-arrows">
        <a href="#" class="left"><i class="material-icons material-icons-outlined">keyboard_arrow_left</i></a>
        <a href="#" class="right"><i class="material-icons material-icons-outlined">keyboard_arrow_right</i></a>
      </div>
    </app-card>

  </section>

  <section class="section section-column">

    <app-card class="info-card--dark">
      <div class="info-card__heading info-card__heading--blue info-card__heading--sm">Welcome to the R2 Digital Library</div>
      <div>The best selection of constantly updated, Health Sciences focused, cross-referenced eContent. Featuring thousands of resources from the leading health sciences publishers—and growing every day.</div>
      <button class="btn btn--blue">Start a free 30-day trial</button>
    </app-card>

    <app-card>
      <div class="info-card__heading info-card__heading--sm">Watch a quick demo of the R2 Digital Library in action</div>
      <div>You'll see how the new version of the R2 Digital Library is a powerful eBook solution for your institution.</div>
      <app-video-preview></app-video-preview>
    </app-card>

  </section>

  <section class="section section__gallery">

    <div class="section__gallery-heading">Recently added</div>
    <app-carousel></app-carousel>

  </section>

  <section class="section">

    <app-card class="info-card--dark">
      <div class="info-card__heading--column info-card__heading info-card__heading--blue info-card__heading--lg">Expand Your Library Beyond eBooks...</div>
      <div>The R2 Digital Library is a web based database available from Rittenhouse Book Distributors. It offers fully integrated and searchable medical, nursing and allied health source book content from key health science publishers, on a web based platform.
      </div>
      <button class="btn btn--blue">See full list of titles</button>
    </app-card>

  </section>

  <section class="section info-thumbs">

    <app-card>
      <img class="card-img" src="https://via.placeholder.com/44x44" alt="">
      <div>Connect your users with essential health sciences content from the leading publishers - on a platform designed to enhance it</div>
    </app-card>
    <app-card>
      <img class="card-img" src="https://via.placeholder.com/44x44" alt="">
      <div>Select resources at the title level and pay once for life of edition access</div>
    </app-card>
    <app-card>
      <img class="card-img" src="https://via.placeholder.com/44x44" alt="">
      <div>Explore consortia, patron driven Acquisition and turnkey collection development solutions</div>
    </app-card>
    <app-card>
      <img class="card-img" src="https://via.placeholder.com/44x44" alt="">
      <div>Incorporate workflow, integration and collaboration tools designed for the contemporary library</div>
    </app-card>

  </section>

  <section class="section section__gallery">

    <div class="section__gallery-heading">Most popular</div>
    <app-carousel></app-carousel>

  </section>

  <section class="section">

    <app-card>
      <div class="info-card__heading info-card__heading--italic info-card__heading--md">Featured publisher</div>
      <div class=" info-card__heading--lg" style="max-width: 530px;">Health Administration Press</div>
      <button class="btn btn--red">See full list of titles</button>
    </app-card>

  </section>

  <section class="section section-column">

    <app-card class="info-card--dark">
      <div class="info-card__heading info-card__heading--blue info-card__heading--lg">Benefits of eContent and the R2 Digital Library</div>
      <div>If you’ve been thinking of including digital content into your library collection, but haven’t yet made the switch, here are answers to some very common questions about the benefits of using eContent and the R2 Digital Library as your platform.</div>
      <button class="btn btn--blue">visit our help section</button>
    </app-card>

    <div class="section-column--right">
      <app-card class="info-card--dark">
        <div class="info-card__heading info-card__heading--blue info-card__heading--lg">Does the R2 Library have the Titles  I need?</div>
        <div>We have thousands of resources from the leading health sciences publishers, so chances are, the answer is yes. To be sure, use the search function at the top of the page to access a listing of active R2 titles.</div>
      </app-card>
      <button class="btn info-btn btn--red"><i class="material-icons material-icons-outlined">help_outline</i>&nbsp;&nbsp;1.800.345.6425 X601   /   info@r2library.com</button>
    </div>

  </section>

</main>
