<div class="carousel">
  <div class="carousel__container">
    <app-card class="carousel__card">
      <img class="card-img" src="https://via.placeholder.com/80" alt="">
      <div>Lorem ipsum dolor sit amet consectetur adipisicing.</div>
    </app-card>
    <app-card class="carousel__card">
      <img class="card-img" src="https://via.placeholder.com/80" alt="">
      <div>Lorem ipsum dolor sit amet consectetur.</div>
    </app-card>
    <app-card class="carousel__card">
      <img class="card-img" src="https://via.placeholder.com/80" alt="">
      <div>Lorem, ipsum dolor sit amet consectetur.</div>
    </app-card>
    <app-card class="carousel__card">
      <img class="card-img" src="https://via.placeholder.com/80" alt="">
      <div>Lorem ipsum dolor sit amet consectetur.</div>
    </app-card>
  </div>
</div>
<div class="arrows carousel__arrows">
  <a href="#" class="carousel__arrow-left arrow--inactive"><i class="material-icons material-icons-outlined">keyboard_arrow_left</i></a>
  <a href="#" class="carousel__arrow-right"><i class="material-icons material-icons-outlined">keyboard_arrow_right</i></a>
</div>
